*{
    margin: 0;
    padding: 0;   
}
body{
  background-color:#A0DDFF;
  text-align: center;
} 
.container{
   height: 70vh; 
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin;   
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box{
    height: 18vmin;
    width: 18vmin; 
    border-radius:1rem ;
    border: none;
    font-size: 8vmin;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    color: red;   
    background-color: #624CAB;

}
#reset-btn{
    padding:1rem;
    font-size: 1rem;
    color:#CEA2AC;
    background-color:#8F3985;
    border-radius: 1rem;
    border: none;
    
}
#New-btn{
    padding:1rem;
    font-size: 0.7rem;
    color:#CEA2AC;
    background-color:#111D4A;
    border-radius: 1rem;
    border: none;
    
}
#msg{
    color:#624CAB ;
    font-size: 8vmin;

}
.msg-container{
    height:30vmin;
}
.hide{
    display: none;
}
